h1 {text-align: center;}
p {font-size: 1.6rem}
a{font-size: 1.6rem}
a:visited {color:green;
            text-decoration: none;}
a:link {color:green;
        text-decoration: none;}
a:hover {
  color:blue;
  text-decoration: underline;
}
